/* Global css file */

/* Remove annoying margin around map */
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

/* Remove google watermark on map */
a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
  display:none;
}
.gmnoprint div {
    background:none !important;
}
/***********************************************************************/

button.gm-ui-hover-effect {
  visibility: hidden;
}

* {
  font-family: -apple-system, BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}